<!-- Add the header ejs template to get our CSS loaded -->
<%- include('partials/header') %>
    <main class="main-content index_container">
        <h1>Welcome to the Math Competition App</h1>
        <div class="navigation__container">
            <a href="/quiz">
                Start Quiz
            </a>
            <a href="/leaderboards">
                Check The Leaderboards
            </a>
            
        </div>
        <p>The lastest streak:</p>
    </main>
</body>
</html>
