<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <main class="mainContent">
      <h1>Leaderboards</h1>
      <!-- only want to put info if they start a streak, anything over one-->
    </main>
  </body>
</html>
