<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>

  <body>
    <!-- Display question or whatever else here -->
    <main class="mainContent">
      <h1>Math Quiz</h1>
      <p>Answer the question below:</p>
      <p>
        What is <%= question.num1 %> <%= question.operations %> <%=
        question.num2 %>?
      </p>
      <form action="/quiz" method="POST">
        <!-- This handles sending the user's answer back to the server. It's not recommended you modify this, as you shouldn't need to -->
        <label for="answer">Your Answer:</label>
        <input type="text" id="answer" name="answer" required />
        <button type="submit">Submit</button>
      </form>
      <a href="/" class="homeLink">Return to Home</a>
    </main>
  </body>
</html>
