body {
  background: linear-gradient(90deg, #ff499e 0%, #d264b6 50%, #a480cf 100%);
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
  display: flex;
  color: #f6f6f6;
}

.mainContent {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.indexContainer .navigationContainer {
  display: flex;
  flex-direction: row;
}

.indexContainer .navigationContainer a {
  background-color: #ffffff;
  aspect-ratio: 1;
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 25px;
  color: #4895ef;
}

.indexContainer .navigationContainer a:link {
  color: #a480cf;
  text-decoration: none;
}

.indexContainer .navigationContainer a:visited {
  text-decoration: none;
}

p {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
}

a.homeLink {
  background-color: #ffffff;
  color: #4895ef;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 70px;
}
a.bothLinks {
  background-color: #ffffff;
  color: #4895ef;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  margin: 20px 10px 0;
}

.leaderboardTable {
  border-collapse: collapse;
  border-radius: 10px;
  width: 90%;
  margin: 5px auto;
  overflow: hidden;
}
.leaderboardTable th,
.leaderboardTable td {
  padding: 20px;
  text-align: left;
}

.leaderboardTable th {
  background-color: #4895ef;
  color: white;
  font-size: 18px;
}

.button {
  color: #4895ef;
  border: 1px solid #a480cf;
}
